<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Mamen adalah sebuah alternatif website bagi para pelaku UMKM untuk mempromosikan usaha mereka"
    />
    <meta name="theme-color" content="#da281c" />
    <link rel="apple-touch-icon" href="./icons/apple-touch.png" />
    <link rel="manifest" href="./app.webmanifest" />
    <link rel="preconnect" href="https://api.mamen.site" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <title>Mamen</title>
    <link rel="icon" type="image/png" href="./favicon.png" sizes="500x500" />
  </head>
  <body>
    <button id="skip-link">Menuju ke konten</button>

    <header>
      <header-bar></header-bar>
    </header>

    <main id="mainContent"></main>

    <footer>
      <footer-bar></footer-bar>
    </footer>

    <script>
      const skip = document.querySelector("#skip-link");
      const main = document.querySelector("#mainContent");

      skip.addEventListener("click", () => {
        main.setAttribute("tabindex", "-1");
        main.focus();
      });
    </script>
  </body>
</html>
