
<section class="explore-con infoProduk">
    <div class="info">
        <div class="judul">
            <h2>Ingpo</h2>
        </div>
        <div class="infoDesc">
            <p>kepanjangan umkm</p>
        </div>
        <div class="btnInfo">
            <a href="#">list umkm</a>
        </div>
    </div>
    <div class="infoImage">
        <img src="./images/infoProd-image1.jpeg" alt=""> 
        <img src="./images/infoProd-image2.jpeg" alt=""> 
        <img src="./images/infoProd-image3.jpeg" alt=""> 
        <img src="./images/infoProd-image4.jpeg" alt=""> 
    </div>
</section>