$orange: #F5A000;

#aboutSection {
  background-size: cover;
  min-height: 728px;
  padding: 50px 20px;
  background-color: #fff;
      
      .about-us {
        min-height: 450px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    
      h1 {
        font-size: 2.5rem;
        color: $orange;
        margin-bottom: 20px;
      }
    
      .introduction {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;

        .introduction-content {
          display: flex;
          align-items: center;
        h2 {
          margin-right: 20px;
          font-size: 1.8rem;
          color: #333;
          padding: 10px;
        }
    
      p {
          font-size: 1rem;
          color: #666;
          margin: 0;
          line-height: 1.5;
          padding: 10px;
        }
      }
    }
      
      .vision-mission{
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 20px;
          padding: 50px;
        
        
        .vimi-card {
          background: white;
          border: 1px solid #ddd;
          border-radius: 10px;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          width: 300px;
        }
        
        .header {
          height: 10px;
          border-radius: 10px 10px 0 0;
        }
        
        .header.red {
          background-color: #b71c1c;
        }
        
        .header.orange {
          background-color: #F5A000;
        }
        
        .vimi-content {
          padding: 20px;
          text-align: center;
        
          h2 {
            margin: 0 0 10px;
            font-size: 1.5rem;
          }
        
          p {
            margin: 0;
            color: #555;
            font-size: 1rem;
            line-height: 1.5;
          }
        }
      }

      .values {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;

        .values-item {
          font-size: 20px;
          font-weight: bold;
          color: #333;
          padding: 10px 20px;
          transition: background-color 0.3s, color 0.3s;

          &:hover {
            background-color: $orange;
            color: white;
            border-radius: 5px;
          }
         }
      }
      
      .services {
        text-align: center;
        padding: 50px;
        width: 100%;
      
        &-title {
          margin-bottom: 20px;
          font-size: 1.8rem;
          color: $orange; 
        }
      
        &-container {
          display: grid;
          grid-template-columns: repeat(2, 1fr); 
          grid-template-rows: repeat(2, 1fr); 
          width: 400px; 
          height: 400px; 
          margin: 0 auto; 
        }
      
        .services-item {
          position: relative;
          width: 100%;
          height: 100%;
          overflow: hidden;
      
          .service-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
      
          .service-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #072526;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
      
            .service-text {
              color: #fff;
              font-size: 10px;
              font-weight: bold;
              padding: 0 10px;
            }
          }
        }
      }

      .team-member {
        padding: 5em;
    
        .our-tittle {
            text-align: center;
            h1{
              margin-bottom: 20px;
              font-size: 1.8rem;
              color: $orange; 
            }
        }
      
        .all-card{
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
          row-gap: 10px;
          column-gap: 2px;
          justify-content: center;
          justify-items: center;
          width: 100%;
        }
      
      .member-card {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background: #ffffff;
          border-radius: 10px;
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
          padding: 20px;
          transition: transform 0.3s ease, box-shadow 0.3s ease;
          width: 250px;
      
          &:hover {
              transform: translateY(-5px);
              box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
          }
      
          .image {
              width: 100px;
              height: 100px;
              margin: 0 auto 15px;
              border-radius: 50%;
              overflow: hidden;
              border: 3px solid #36b372;
              box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      
              img {
                  width: 100%;
                  height: auto;
                  object-fit: cover;
              }
          }
      
          h2 {
              font-size: 20px;
              margin: 10px 0;
              color: #333333;
              font-weight: bold;
          }
      
          .position {
              color: #36b372;
              font-weight: bold;
              margin-bottom: 10px;
              font-size: 16px;
          }
      
          p {
              color: #555555;
              font-size: 14px;
              line-height: 1.6;
              margin-bottom: 20px;
          }
      
          .social-links {
              display: flex; 
              justify-content: center; 
              a {
                  color: #36b372;
                  font-size: 18px;
                  text-decoration: none;
                  margin: 0 10px; 
                  transition: color 0.3s ease;
      
                  &:hover {
                      color: #ff4500; 
                  }
              }
          }
      }
    }
  }


 