body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

  
#aboutSection {
    padding: 50px 20px;
    text-align: center;
    background-color: #fff;
    
    .about-us {
      max-width: 800px;
      margin: 0 auto;
    }
  
    h1 {
      font-size: 2.5rem;
      color: #b50000;
      margin-bottom: 20px;
    }
  
    .introduction {
      h2 {
        font-size: 1.8rem;
        color: #333;
  
        .highlight {
          color: #b50000;
          font-weight: bold;
        }
      }
  
     p {
        font-size: 1rem;
        color: #666;
        margin-top: 10px;
        line-height: 1.5;
      }
    }
  
    .vision-mission {
        display: flex;
        justify-content: space-between;
        margin: 30px 0;
    
        .vision {
          flex: 1;
          margin: 0 10px;
          padding: 20px;
          background-color: #b50000;
          border-radius: 10px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          color: #fff;
    
          h3 {
            font-size: 1.5rem;
            margin-bottom: 10px;
          }
    
          p {
            font-size: 1rem;
            line-height: 1.5;
          }
        }
    
        .mission {
            flex: 1;
            margin: 0 10px;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            color: #333;
      
            h3 {
              font-size: 1.5rem;
              color: #b50000;
              margin-bottom: 10px;
            }
      
            p {
              font-size: 1rem;
              line-height: 1.5;
            }
          }
        }
      
    .values {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;

    }
}




.team-members {
  text-align: center;
  padding: 80px 20px;

  h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }

  .members {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .member {
      margin: 20px;
      text-align: center;

      img {
        width: 150px;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.05);
        }
      }

      h3 {
        margin-top: 10px;
        font-size: 1.5em;
      }

      p {
        font-size: 1em;
        color: #ddd;
      }
    }
  }
}
