$orange: #F5A000;

#aboutSection {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 728px;
  padding: 50px 20px;
  background-color: #fff;
      
      .about-us {
        min-height: 450px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    
      h1 {
        font-size: 2.5rem;
        color: $orange;
        margin-bottom: 20px;
      }
    
      .introduction {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;

        .introduction-content {
          display: flex;
          align-items: center;
        h2 {
          margin-right: 20px;
          font-size: 1.8rem;
          color: #333;
          padding: 10px;
        }
    
      p {
          font-size: 1rem;
          color: #666;
          margin: 0;
          line-height: 1.5;
          padding: 10px;
        }
      }
    }
      
      .vision-mission{
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 20px;
          padding: 50px;
        
        
        .vimi-card {
          background: white;
          border: 1px solid #ddd;
          border-radius: 10px;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          width: 300px;
        }
        
        .header {
          height: 10px;
          border-radius: 10px 10px 0 0;
        }
        
        .header.red {
          background-color: #b71c1c;
        }
        
        .header.orange {
          background-color: #e65100;
        }
        
        .vimi-content {
          padding: 20px;
          text-align: center;
        
          h2 {
            margin: 0 0 10px;
            font-size: 1.5rem;
          }
        
          p {
            margin: 0;
            color: #555;
            font-size: 1rem;
            line-height: 1.5;
          }
        }
      }

      .values {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;

        .values-item {
          font-size: 20px;
          font-weight: bold;
          color: #333;
          padding: 10px 20px;
          transition: background-color 0.3s, color 0.3s;

          &:hover {
            background-color: $orange;
            color: white;
            border-radius: 5px;
          }
         }
      }
      
      .services {
        text-align: center;
        padding: 100px;
      
        &-title {
          font-size: 24px;
          margin-bottom: 20px;
          color: #072526;
        }
      
        &-container {
          display: grid;
          grid-template-columns: repeat(2, 1fr); 
          grid-template-rows: repeat(2, 1fr); 
          width: 400px; 
          height: 400px; 
          margin: 0 auto; 
        }
      
        .service-item {
          position: relative;
          width: 100%;
          height: 100%;
          overflow: hidden;
      
          .service-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
      
          .service-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #072526;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
      
            .service-text {
              color: #fff;
              font-size: 10px;
              font-weight: bold;
              padding: 0 10px;
            }
          }
        }
      }

      .team-member {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px; 

        .our-tittle{
          text-align: center;
          margin-bottom: 20px;
        }

        .member-card{
          background: #ffffff;
          border-radius: 10px;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          padding: 20px;
          text-align: center;
          transition: transform 0.3s ease, box-shadow 0.3s ease;
        
          &:hover {
            transform: translateY(-10px);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
          }
  

            .image {
              width: 100px;
              height: 100px;
              margin: 0 auto 15px;
              border-radius: 50%;
              overflow: hidden;
    
              img {
                width: 100%;
                height: auto;
              }
            }
          }
        }
      }



 