$yellow: #ff9e1b;

#detailProduct {
  padding-block: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.imgSection.prod {
  flex: 4;
  position: relative;

  picture {
    width: 100%;
    height: auto;
    object-fit: cover;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 10px;
    }
  }

  span {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    background-color: $yellow;
    color: white;
    padding: 1rem;
    border-radius: 0 0 0 5px;
    font-weight: bold;
    padding: 0.5rem;
  }

  #addImageForm {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: absolute;
    bottom: 0.25rem;
    left: 0.5rem;
    z-index: 100;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

    label {
      display: flex;
      align-items: center;
      padding: 0.25rem 0.5rem;
      color: black;
      background-color: white;
    }

    #addimage {
      display: none;
    }

    #submitImg,
    #resetImg {
      display: none;
      padding: 0.25rem 0.5rem;
      background-color: white;
      color: black;
    }
  }
}

.infoSection.prod {
  flex: 7;
  display: flex;
  gap: 2rem;
  flex-direction: column;

  .title-con {
    display: flex;
    align-items: center;

    h1 {
      font-size: 1.5rem;
      font-weight: bold;
      flex: 1;
      text-align: start;
    }

    #edit-detail {
      background-color: white;
      color: black;
      padding: 0.5rem 1rem;
      border: 1px solid black;
      cursor: pointer;
    }
  }

  .detail-con.prod {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;

    .details.prod {
      flex: 1;
      display: flex;
      gap: 1rem;
      flex-direction: column;
    }

    .desc {
      flex: 3;
      div {
        #deskripsi {
          text-align: start;
        }
      }
    }
  }
}

@media screen and (min-width: 361px) {
  .infoSection.prod {
    .detail-con.prod {
      .details.prod {
        flex-direction: row;
      }
    }
  }
}

@media screen and (min-width: 481px) {
  .infoSection.prod {
    .detail-con.prod {
      flex-direction: row;
      .details.prod {
        flex-direction: column;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  #detailProduct {
    flex-direction: row;
  }
}
