/* custom color */
$button: #b81202;
$icon: #fba635;
/* main color */
$yellow: #fba635;
$brown: #fdac58;
$red: #b81202;
$cream: #f0eaec;
$black: #072526;

/* font */
$info-home: "Arizonia";
$font-default: "Oxygen";

headline-section {
  width: 100%;
  padding: 3rem 8% 8rem;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;

    h2 {
      font-family: $font-default;
      font-size: 2rem;
      font-weight: 700;
      text-align: center;
      width: 100%;
      color: $black;
      position: relative;

      &::after {
        content: "";
        width: 70px;
        height: 4px;
        background-color: $red;
        position: absolute;
        bottom: -1rem;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 10px;
      }
    }

    div {
      width: 100%;
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: wrap;

      article.middle-art {
        background-color: $black;
        transition:
          transform 0.3s ease,
          box-shadow 0.3s ease;
        &:hover {
          transform: translateY(-5px);
          box-shadow: -5px 8px 20px rgba(0, 0, 0, 0.2);
        }
        h3,
        p {
          color: white;
        }
        picture {
          i {
            color: $icon;
          }
        }
      }
      article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 3rem 2rem 2rem 2rem;
        gap: 1rem;
        width: 100%;
        max-width: 320px;
        height: 300px;
        border-radius: 16px;
        background-color: white;
        box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
        transition:
          transform 0.3s ease,
          box-shadow 0.3s ease;
        &:hover {
          transform: translateY(-5px);
          box-shadow: -5px 8px 20px rgba(0, 0, 0, 0.2);
        }

        picture {
          i {
            font-size: 3rem;
            color: $icon;
          }
        }
        h3 {
          font-family: $font-default;
          font-size: 1.25rem;
          font-weight: 600;
          text-align: center;
        }
        p {
          font-family: $font-default;
          font-size: 1rem;
          line-height: 1.5rem;
          text-align: center;
        }
      }
    }
  }
}

#infoUmkmCon {
  position: relative;
  background-image: url(../public/images/hero-image.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding-block: 8rem;
  display: flex;
  align-items: center;
  .green-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #072526d1;
    z-index: 1;
  }
}
.infoUMKM {
  z-index: 2;
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  gap: 3rem;
  padding-inline: 8%;

  .info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .judul {
      padding-block: 3rem 1rem;
      border-bottom: 1px solid white;
      h3 {
        text-align: start;
        font-size: 2rem;
        color: white;
        span {
          font-size: 2rem;
          color: $yellow;
        }
      }
    }

    .infoDesc {
      p {
        font-family: $font-default;
        font-size: 1.25rem;
        line-height: 2rem;
        text-align: start;
        color: white;
      }
    }

    .btnInfo {
      flex: 1;
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: end;

      a {
        font-size: 1rem;
        width: auto;
        padding: 0.75rem 1.25rem;
        background-color: $button;
        color: white;
      }
    }
  }
}

dataline-section {
  width: 100%;
  padding: 6rem 8%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-items: center;

  position: relative;

  #datalineCon {
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
  }
}
.dataline {
  width: 100%;
  max-width: 520px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: column;

  p {
    color: black;
    font-family: $font-default;
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: center;
  }
}

.category-line {
  width: 100%;
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  .category-list {
    display: flex;
    gap: 2rem;
    align-items: center;

    .category-icons {
      display: flex;
      gap: 2rem;
      align-items: center;

      article {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 0.5rem;

        picture {
          i {
            font-size: 1.5rem;
            color: $icon;
          }
        }
      }

      &.umkm {
        article {
          picture {
            i {
              color: $red;
            }
          }
        }
      }
    }

    .category-sub {
      padding: 1rem 1.5rem;

      &.right {
        border-left: 2px solid $black;
      }
      &.left {
        border-right: 2px solid $black;
      }

      h3 {
        color: $black;
        font-size: 1.25rem;
      }
    }
  }
}

// responsive
@media screen and (max-width: 1023px) {
  .infoUMKM {
    .info {
      .judul {
        h3 {
          font-size: 1.75rem;
          span {
            font-size: 1.75rem;
          }
        }
      }

      .infoDesc {
        p {
          font-size: 1rem;
          line-height: 1.75rem;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #infoUmkmCon {
    padding-inline: 0;
    padding-block: 2rem 4rem;
  }
  .infoUMKM {
    grid-template-columns: 1fr;
    grid-template-areas:
      "info"
      "slider";

    #umkm-list {
      grid-area: slider;
    }

    .info {
      grid-area: info;
      .judul {
        padding-block: 3.5rem 0;
        border-bottom: 0px;
        h3 {
          text-align: center;
          font-size: 2rem;
          span {
            font-size: 2rem;
          }
        }
      }

      .infoDesc {
        p {
          font-size: 0.9rem;
          line-height: 1.5rem;
          text-align: start;
        }
      }

      .btnInfo {
        a {
          font-size: 0.75rem;
          padding: 0.5rem 1rem;
        }
      }
    }
  }
}
@media screen and (max-width: 540px) {
  #infoUmkmCon {
    padding-inline: 0;
    padding-block: 2rem 4rem;
  }
  .infoUMKM {
    grid-template-columns: 1fr;
    grid-template-areas:
      "info"
      "slider";

    #umkm-list {
      grid-area: slider;
    }

    .info {
      grid-area: info;
      .judul {
        padding-block: 3.5rem 0;
        border-bottom: 0px;
        h3 {
          text-align: center;
          font-size: 2rem;
          span {
            font-size: 2rem;
          }
        }
      }

      .infoDesc {
        p {
          font-size: 0.9rem;
          line-height: 1.5rem;
          text-align: start;
        }
      }

      .btnInfo {
        a {
          font-size: 0.75rem;
          padding: 0.5rem 1rem;
        }
      }
    }
  }

  dataline-section {
    padding: 4rem 8%;
  }

  .dataline {
    max-width: 300px;
    display: flex;

    p {
      color: black;
      font-family: $font-default;
      font-size: 1.75rem;
      line-height: 2.5rem;
      text-align: center;
    }
  }

  .category-line {
    display: flex;
    gap: 3rem;
    align-items: center;
    flex-wrap: wrap;

    .category-list {
      width: 100%;
      display: flex;
      gap: 0.75rem;
      align-items: center;
      justify-content: space-between;

      .category-icons {
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        flex: 1;

        article {
          display: flex;
          align-items: center;
          flex-direction: column;
          gap: 0.5rem;

          picture {
            i {
              font-size: 1.25rem;
              color: $icon;
            }
          }
          h4 {
            font-size: 0.9rem;
          }
        }

        &.umkm {
          article {
            picture {
              i {
                color: $red;
              }
            }
          }
        }
      }

      .category-sub {
        padding: 1rem 0.75rem;

        &.right {
          border-left: 2px solid $black;
        }
        &.left {
          border-right: 2px solid $black;
        }

        h3 {
          color: $black;
          font-size: 1.25rem;
        }
      }
    }
  }
}
