.infoUMKM {
  display: flex;
  height: 500px;

  .infoImage {
    width: 100%;
    display: flex;

    .img1 {
      position: absolute;
      width: 300px;

      left: 15rem;
    }

    .img2 {
      position: absolute;
      width: 290px;

      top: 10rem;
      left: 5rem;
      border: 15px solid white;
    }
  }

  .info {
    width: 100%;
  }
}