$yellow: #ff9e1b;
$red: #da281c;
$cream: #eeeeeeca;
$black: rgb(255, 255, 255);

#reviews {
  display: flex;
  gap: 2rem;
  padding: 5rem 0;

  .review-item {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-color: white;

    gap: 1.2rem;
    border-bottom: 1px solid $yellow;
    padding: 0.8rem 1rem;

    min-width: 250px;

    display: flex;
    flex-direction: column;

    .review-profil {
      display: flex;
      align-items: center;
      justify-content: space-between;

      img {
        width: 8%;
        border-radius: 50%;
      }
      .review-name {
        display: flex;
        align-items: center;
        gap: 1rem;
      }
    }

    .review-rating {
      color: #ff9e1b;
    }

    .review-date {
      text-align: end;

      color: #da281c;
    }
  }
}

.infinite-scroll {
  padding: 5rem;
  position: relative;

  left: calc(200px * 8);
  animation: infinite-scroll 12s linear infinite;

  .review-item {
    margin-right: 1.5rem;
  }
}

@keyframes infinite-scroll {
  to {
    left: -850px;
  }
}

// responsive

@media screen and (max-width: 540px) {
  #reviews {
    .review-item {
      .review-profil {
        img {
          width: 15%;
        }
      }
    }
  }
}
