$yellow: #ff9e1b;
$red: #da281c;
$cream: #eeeeeeca;
$black: rgb(255, 255, 255);

.exploreUmkm {
  padding-block: 72.58px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.judul-list-umkm {
  width: 100%;
  background-color: #91140b;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;

  h2 {
    font-size: 2rem;
    color: white;
    text-align: center;
    font-weight: 300;
  }
}

.quote-umkm-list {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-block: 2rem;

  p {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    font-size: 1rem;
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
  }

}

.page-list-umkm {
  padding: 0 8%;
}

#list-umkm {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.75rem;

  .umkm-card {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: $black;
    justify-content: start;
    align-items: center;
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
    height: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

    .umkm-img {
      box-sizing: border-box;
      position: relative;
      width: 100%;

      img {
        width: 100%;
        height: 13rem;
        object-fit: cover;
        object-position: center;
        transition: transform 0.5s ease-in-out;

        &:hover {
          transform: scale(1.05);
          transition: transform 0.5s ease-in-out;
        }
      }
    }

    .umkm-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.3rem;
      margin: 0 1.6rem 1rem;
      padding-block: 1rem;

      position: relative;
      border-bottom: 1px solid $red;
      height: 100%;
      width: 100%;
      padding-inline: 8%;

      span {
        position: flex;
        padding: 0.4em 1em;
        color: $red;
        font-weight: bold;
      }

      h3 {
        a {
          font-size: 1.2rem;
          font-weight: 700;
          color: $red;
          line-height: 1.2;
          display: inline-block;
          margin-bottom: 0.5rem;
          padding-block: 0.5rem;
          border-bottom: 1px solid $red;
          min-width: 44px;
          min-height: 44px;
          text-decoration: none;

          &:hover {
            color: $red;
          }
          &:active {
            color: red;
          }
        }
      }
      p {
        font-size: 0.95rem;
        color: black;
        line-height: 1.4;
        text-align: center;
        flex: 1;
        max-height: 65px;
        overflow: auto;
      }
    }

    .umkm-rate {
      position: absolute;
      border-radius: 10px 0 10px 0;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      background-color: $yellow;
      padding: 0.4em 0.6em;
      p {
        font-size: 0.7em;
        color: rgb(255, 255, 255);
      }
      i {
        font-size: 0.7em;
        color:rgb(255, 255, 255);
      }
    }
  }
}
