$yellow: #ff9e1b;
$red: #da281c;
$cream: #eeeeeeca;
$black: rgb(255, 255, 255);

#reviews {
  position: absolute;
  display: flex;
  width: 100%;
  gap: 1.25rem;
  padding: 5rem;
  position: relative;
  left: calc(200px * 8);
  animation: infinite-scroll 12s linear infinite;

  .review-item {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    border-bottom: 1px solid $yellow;
    padding: 0.5rem 1rem;

    .review-name {
      overflow: auto;
      h3 {
        color: rgb(202, 202, 202);
        margin-block: 0;
        color: black;
        font-size: 0.9rem;
      }
    }

    .review-des {
      overflow: auto;
      p {
        color: black;
        margin-block: 0;
        font-size: 1rem;
      }
    }

    .review-date {
      align-self: flex-end;
      p {
        color: black;
        font-size: 0.9rem;
        color: rgb(203, 203, 203);
      }
    }
  }
}

@keyframes infinite-scroll {
  to {
    left: -850px;
  }
}
