// Variabel warna
$primary-color: #da281c;
$background-color: white;

/* main color */
$yellow: #fba635;
$brown: #fdac58;
$red: #b81202;
$cream: whitesmoke;
$black: #174c4e;
$dark: #072526;

.custom-ok-button {
  background-color: #5126ff; /* Warna hijau */
  color: white; /* Warna teks */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-ok-button:hover {
  background-color: #4645a0; /* Warna hijau lebih gelap untuk hover */
}

.login {
  margin: auto;
  padding: 8%;
  width: 100%;
  max-width: 1100px;
  
}

.login-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 28rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  &.act {
    flex-direction: row;
  }

  .login-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: order 0.5s ease-in-out;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .form-container {
    flex: 1;
    width: 100%;
    padding: 2rem;
    background-color: $background-color;
    position: relative;
    transition: order 0.5s ease-in-out;

    .form {
      display: none;
      height: 100%;

      &.act {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
        height: 100%;

        position: relative;
        .img {
          margin-top: 0;
          right: 0;
          position: absolute;
          width: auto;
          height: auto;

          a {
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
            z-index: 100;
            img {
              width: 70px;
              height: 70px;

            border-radius: 50%;
            overflow: hidden;
            }
          }
        }

        .form-body {
          margin-top: 1.5rem;
          flex: 1;
          display: flex;
          flex-direction: column;
          gap: 0.9rem;

          h2 {
            margin-bottom: 0.5rem;
            color: $red;
            font-weight: 800;
            font-size: 1.5rem;
          }

          div {
            display: flex;
            flex-direction: column;
            gap: 0.1rem;

            label {
              display: flex;
              align-items: center;
              color: black;
            }

            input {
              width: 100%;
              padding: 0.5rem;
              background-color: white;
              color: #000;

              box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
            }

            .password-container {
              position: relative;

              input {
                width: 100%;
                padding-right: 2.5rem; // Tambahkan ruang untuk tombol mata
              }

              .toggle-password {
                position: absolute;
                right: 0.5rem;
                top: 50%;
                transform: translateY(-50%);
                background: none;
                border: none;
                cursor: pointer;
                padding: auto;
                width: 20px;
                height: 20px;

                i {
                  width: 100%;
                  height: 100%;
                }
              }
            }
          }
        }
        .form-buttons {
          display: flex;
          gap: 0.5rem;
          flex-direction: column;
          align-items: center;

          button[type="submit"] {
            width: 100%;
            padding: 0.7rem;
            background-color: $red;
            color: white;
            font-size: 1rem;
            font-weight: 700;
            border: none;
            cursor: pointer;
            &:hover {
              background-color: red;
            }

          }

          p {
            display: flex;
            align-items: center;
            font-size: 0.9rem;
    
            span {
              cursor: pointer;
              color: black;
              font-weight: 700;
              margin-left: 0.2rem;
    
              &:hover {
                color: $primary-color;
              }
            }
          }
        }

      }
    }
  }
}
// media query
@media screen and (max-width: 540px) {
  .login {
    padding: 0%;
  }

  .login-section {
    height: 100vh;
    flex-direction: column;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    &.act {
      flex-direction: column;
    }

    .login-image {
      flex: none;
      height: 30%;
      img {
        min-width: 500px;
      }
    }

    .form-container {
      flex: 1;
      .form {
        &.act {
          .form-buttons {
            padding-bottom: 2rem;
          }
        }
      }
    }
  }

  .img {
    img {
      width: 60%;
    }
  }
}
