/* main color */
$yellow: #fba635;
$brown: #fdac58;
$red: #b81202;
$cream: whitesmoke;
$black: #174c4e;
$dark: #072526;

/* font */
$info-home: "Arizonia";
$font-default: "Oxygen";

/* === base === */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Oxygen", sans-serif;
  color: black;

  &:focus {
    background-color: transparent;
  }
}

button,
input,
textarea,
a {
  outline: none;
  border: none;
  text-decoration: none;
  background-color: transparent;
}

ul {
  list-style: none;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

main,
.navbar-con,
footer {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
}

.skltn,
*.skltn {
  animation: skltn 1s infinite linear;
  color: transparent;
  background-color: $cream;
  display: inline-block;
}

/* === base === */
html {
  scroll-behavior: smooth;

  body {
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    #skip-link {
      display: flex;
      align-items: center;
      min-height: 44px;
      min-width: 44px;
      position: absolute;
      top: -80px;
      left: 0;
      padding: 8px;
      background-color: #bf1722;
      color: black;
      z-index: 1000;

      &:focus {
        top: 0;
      }
    }
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  background-color: transparent;
  z-index: 999;

  .navbar-con {
    width: 100%;
    background-color: transparent;
    backdrop-filter: none;
    height: 72.59px;

    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 8%;
      height: 100%;
      border-bottom: 1px solid rgba(255, 255, 255, 0.482);

      .nav-title {
        display: flex;
        align-items: center;

        z-index: 9999;
        border-radius: 3px;
        border: 1px solid transparent;
        text-shadow: 1px 1px 3px rgb(0, 0, 0);

        .title {
          display: flex;
          align-items: center;
          min-height: 44px;
          min-width: 44px;
          font-size: 2.5rem;
          font-weight: bold;
          font-family: $info-home;
          color: white;
          text-shadow: 1px 1px 3px rgb(0, 0, 0);

          span {
            color: $yellow;
            font-family: $info-home;
            font-weight: bold;
            font-size: 2.5rem;
            margin-left: 3px;
            text-shadow: 1px 1px 3px rgb(0, 0, 0);
          }
        }
      }

      nav {
        .nav-list {
          position: absolute;
          top: -1000px;
          width: 100%;
          left: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          background-color: rgba(0, 0, 0, 0.896);
          transition: top 0.4s;
          padding: 8rem 0 4rem;
          z-index: 999;
          gap: 2rem;
          border-radius: 2rem;

          &.active {
            top: -2rem;
          }

          .nav-link {
            display: flex;
            align-items: center;
            min-height: 44px;
            min-width: 44px;
            position: relative;
            cursor: pointer;
            color: white;
            text-shadow: 1px 1px 3px rgb(0, 0, 0);

            &::after {
              content: "";
              width: 0;
              height: 2px;
              background-color: $red;
              position: absolute;
              left: 0;
              bottom: 0rem;
              transition: width 0.3s;
            }

            &:hover::after {
              width: 70%;
            }
          }
          .nav-link.active-link {
            &::after {
              content: "";
              width: 70%;
              height: 2px;
              background-color: $red;
              position: absolute;
              left: 0;
              bottom: 0rem;
              transition: width 0.3s;
            }
          }
        }
      }

      .nav-extra {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 0;
        z-index: 999;

        .user-account {
          cursor: pointer;

          a {
            min-height: 44px;
            min-width: 44px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 0.1rem;

            figcaption {
              display: inline-block;
              font-size: 1rem;
              border-radius: 10px;
              padding: 0.5rem;
              color: white;
              text-shadow: 1px 1px 3px rgb(0, 0, 0);

              &:hover {
                color: $red;
              }
            }
          }
        }
        .user-account#logout {
          cursor: pointer;

          a {
            min-height: 44px;
            min-width: 44px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 0.1rem;

            figcaption {
              display: none;
              font-size: 1rem;
              border-radius: 10px;
              padding: 0.5rem;
              color: white;
              text-shadow: 1px 1px 3px rgb(0, 0, 0);

              &:hover {
                color: $red;
              }
            }
            i {
              display: inline-block;
              font-size: 1.25rem;
              border-radius: 10px;
              padding: 0.5rem;
              color: white;
              text-shadow: 1px 1px 3px rgb(0, 0, 0);

              &:hover {
                color: $red;
              }
            }
          }
        }

        #profile {
          cursor: pointer;

          a {
            min-height: 44px;
            min-width: 44px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 0.1rem;

            figcaption {
              display: inline-block;

              border-radius: 10px;

              i {
                font-size: 1.2rem;
                color: white;
                text-shadow: 1px 1px 3px rgb(0, 0, 0);
                &:hover {
                  color: $red;
                }
                &.active-link {
                  color: $red;
                }
              }
            }
          }
        }

        .nav-toggle {
          cursor: pointer;
          min-height: 44px;
          min-width: 44px;
          display: inline-block;
          z-index: 99999;
          border-radius: 3px;
          border: 1px solid transparent;

          &:hover {
            i {
              color: $red;
            }
          }

          i {
            color: white;
            font-size: 1.75rem;
            text-shadow: 1px 1px 3px rgb(0, 0, 0);
          }
        }
      }
    }
  }
}

main {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 750px;
  flex: 1;
}

#home {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 728px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  overflow: hidden;

  &::after {
    content: "";

    position: absolute;
    display: block;
    bottom: -2px;
    right: 0;
    width: 100%;
    height: 20%;
    background: linear-gradient(0deg, white 50%, rgba(255, 255, 255, 0) 90%);
  }

  picture {
    min-width: 1440px;
    width: 100%;
    height: 728px;

    source,
    img {
      width: 100%;
      height: 728px;
      object-fit: cover;
      object-position: center;
      min-width: 1440px;
      filter: grayscale(40%);
    }
  }

  .home-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 8%;
    display: flex;
    justify-content: start;
    align-items: center;
    z-index: 2;

    .home-content {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 2rem;
      width: 100%;
      max-width: 500px;

      h1 {
        font-size: 2.5rem;
        line-height: 1.2;
        text-shadow: 1px 1px 3px rgba(0, 0, 3, 0.5);
        color: white;

        span {
          color: $red;
        }
      }

      p {
        text-shadow: 1px 1px 3px rgb(0, 0, 0);
        line-height: 1.4;
        font-size: 1.1rem;
        color: rgba(255, 255, 255, 0.83);
      }

      button {
        display: inline-block;
        min-height: 44px;
        min-width: 44px;
        font-size: 1.25rem;
        line-height: 1.4rem;
        padding: 0.8rem 1.6rem;
        background-color: $red;
        border-radius: 0.2rem;
        box-shadow: -2px 2px 5px rgba(0, 0, 3, 0.5);
        cursor: pointer;
        align-items: center;
        color: white;

        i {
          transition: ease-in-out 0.3s;
          display: inline-block;
          margin-left: 0.5rem;
          color: white;
        }

        &:hover {
          background-color: $red;
          box-shadow: 1px 1px 3px rgba(0, 0, 3, 0.568);
          transition: ease-in-out 0.3s;

          i {
            margin-left: 1rem;
            transition: ease-in-out 0.3s;
          }
        }
        &:active {
          background-color: white;
          outline: none;
        }
      }
    }
  }
}

.explore-con {
  width: 100%;
  padding: 5rem 8%;
  position: relative;
  overflow: hidden;

  .titleReview {
    text-align: center;
    font-size: 2rem;
  }
}

footer {
  display: flex;
  padding-block: 5rem 3rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: $dark;

  a,
  h3,
  i,
  p {
    color: white;
  }
}

footer-bar {
  width: 100%;
  padding-inline: 8%;

  .footer-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5rem;
}

.footer-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .footer-logo {
    display: inline-block;
    margin-bottom: 1rem;
  }
  .footer-description {
    line-height: 1.75rem;
  }
}

.footer-data {
  flex: 1.5;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
  gap: 2.5rem 3.5rem;

  div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .footer-title {
      margin-bottom: 1rem;
    }

    .footer-links {
      display: grid;
      gap: 1rem;
      li {
        .footer-link {
          transition: color 0.4s;
        }
      }
    }
  }
}

.footer-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  .footer-copy {
    text-align: center;
  }

  .footer-social {
    display: flex;
    gap: 1.5rem;
    .footer-social-link {
      font-size: 1.5rem;
      transition:
        color 0.4s,
        transform 0.4s;
      &:hover {
        transform: translateY(-0.25rem);
      }
    }
  }
}

/* RESPONSIVE */

@media screen and (min-width: 768px) {
  #nav-list {
    position: static;
    justify-content: space-between;
    background-color: transparent;
    padding: 0;
    gap: 2rem;
    text-align: center;
    flex-direction: row;
  }

  #nav-toggle {
    display: none;
  }

  header {
    .navbar-con {
      .navbar {
        .nav-extra {
          .user-account#logout {
            a {
              figcaption {
                display: inline-block;
              }
              i {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  #home {
    .home-container {
      .home-content {
        h1 {
          font-size: 2.5rem;
        }
        h2 {
          font-size: 3rem;
        }
      }
    }
  }

  footer-bar {
    .footer-container {
      gap: 5rem;
    }
  }

  .footer-content {
    flex-direction: row;
    gap: 7rem;
  }

  .footer-group {
    flex-direction: row-reverse;
  }
}

@media screen and (min-width: 1000px) {
  #nav-list {
    gap: 4rem;
  }

  #home {
    .home-container {
      .home-content {
        h1 {
          font-size: 3.5rem;
        }
        h2 {
          font-size: 5rem;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  footer-bar {
    .footer-container {
      gap: 8rem;
    }
  }
}
