$popup-bg: rgba(0, 0, 0, 0.5);
$yellow: #ff9e1b;
$red: #da281c;
$cream: #eeeeeeca;
$black: rgb(23, 27, 30);
$text: black;

.blank-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1rem;

  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  .blankCon {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    align-items: center;

    h2 {
      font-size: 2rem;
      text-align: center;
    }

    p {
      font-size: 1rem;
      text-align: center;
      line-height: 1.5rem;
    }

    button {
      margin-bottom: 0.2rem;
      font-size: 0.9rem;
      background-color: $red;
      color: white;
      padding: 0.75rem 1rem;
      border-radius: 5px;
      cursor: pointer;
      transition:
        color 0.4s,
        transform 0.4s;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);

      &:hover {
        background-color: red;
        transform: translateY(-0.1rem);
      }
    }
  }
}

umkm-form,
product-form,
editumkm-form {
  display: none;
}

// Popup Form
.popup-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $popup-bg;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  display: flex;

  .popup-content {
    max-width: 750px;
    position: relative;
    width: 80%;
    padding: 2rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    h2 {
      text-align: center;
      margin-bottom: 1rem;
      color: $text;
    }

    .umkm-form,
    .product-form {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 1rem;

      div {
        flex: 100%;
        label {
          display: block;
          color: $text;
        }

        input {
          width: 100%;
          padding: 0.5rem;
          border: 1px solid $text;
          color: $text;
        }
        textarea {
          width: 100%;
          height: 7rem;
          padding: 0.5rem;
          border: 1px solid $text;
          color: $text;
        }
      }
      button[type="submit"] {
        width: 100%;
        padding: 0.7rem;
        background-color: $red;
        color: $text;
        border: none;
        cursor: pointer;
        color: white;
      }
    }

    .close-button {
      position: absolute;
      color: $text;
      top: 0;
      right: 1rem;
      font-size: 2rem;
      cursor: pointer;
    }
  }
}

// responsive

@media screen and (min-width: 800px) {
  .blank-profile {
    flex: 1;
    flex-direction: row;
    align-items: center;

    img {
      width: 350px;
      height: 350px;
      border-radius: 0;
    }

    .blankCon {
      padding-inline: 3rem;
      gap: 2rem;
    }
  }

  .popup-form {
    .popup-content {
      .umkm-form,
      .product-form {
        flex-direction: row;

        .nameCon,
        .contactCon {
          flex: 65%;
        }
        .subCon,
        .yearCon {
          flex: 30%;
        }
        .typeCon,
        .priceCon {
          flex: 48%;
        }
      }
    }
    .close-button {
      position: absolute;
      color: $text;
      top: 0;
      right: 1rem;
      font-size: 3rem;
      cursor: pointer;
    }
  }
}
