// color pallette
$title: black;
$black: rgb(255, 255, 255);

$white: rgb(255, 255, 255);
$yellow: #fba635;
$brown: #fdac58;
$red: #b81202;
$cream: whitesmoke;
$dark: #072526;
$green: #36b372;

.reviews {
  padding-top: 2rem;
  flex: 1;
  padding-inline: 8%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  width: 100%;
  min-height: 167.91px;
  max-height: 530px;
  overflow: auto;
}

// styling
.section-review {
  margin-top: 3rem;
  border-radius: 8px;
  background-image: url(../public/images/background-review.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 0 8%;

  .white-filter {
    background-color: rgba(255, 255, 255, 0.347);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .isiReview {
    align-items: start;
    display: flex;
    gap: 2rem;
    padding: 2rem 0;
  }
}

form-review {
  flex: 1;
  width: 100%;
  max-width: 900px;
  align-self: stretch;
  box-shadow: -2px 5px 10px rgba(0, 0, 0, 0.2);
}

.formReviewContainer {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 10px;
  height: 100%;
  background-color: rgba(245, 245, 245, 0.68);
  backdrop-filter: blur(10px);
  .formDisabler {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(245, 245, 245, 0.68);
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    padding: 2rem;

    p {
      text-align: center;
    }
  }

  .titleFormReview {
    h2 {
      color: black;
      text-align: center;
      margin-bottom: 1rem;
    }
  }

  .formReview {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    flex: 1;

    .formReviewDesc {
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      align-items: start;
      gap: 1rem;
      flex: 1;

      .nama-review {
        flex-basis: 65%;
        flex-grow: 1;
      }

      .rating-review {
        flex-basis: 30%;
        flex-grow: 1;
      }

      .body-reviews {
        flex-basis: 100%;
        height: 100%;
      }

      div {
        input,
        textarea {
          width: 100%;
          padding: 0.5rem;
          background-color: white;
          border: 1px solid $red;
          border-radius: 5px;
          color: black;
        }

        textarea {
          min-height: 13rem;
        }
      }
    }
    .btnFormReview {
      min-height: 44px;
      background-color: $red;
      color: white;
      border-radius: 5px;
      padding: 0.5rem 1rem;
      cursor: pointer;
      position: relative;
    }
  }
}
// end form review

// review card
.detailumkm-reviews {
  flex: 1;
  padding-inline: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  width: 100%;
  max-height: 530px;
  overflow: auto;
}
.review-item {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-color: white;

  gap: 1.2rem;
  border-bottom: 1px solid $yellow;
  padding: 0.8rem 1rem;
  border-radius: 10px;

  max-width: 300px;
  width: 100%;
  margin-inline: auto;

  display: flex;
  flex-direction: column;

  .review-profil {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      width: 33px;
      border-radius: 50%;
      box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.832);
    }
    .review-name {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 1rem;

      p {
        position: relative;
        color: black;
        font-size: 1rem;
        font-weight: 600;
        padding-block: 5px;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: $dark;
        }
      }
    }
  }

  .review-des {
    flex: 1;
    overflow: auto;
    p {
      color: black;
      overflow: auto;
    }
  }

  .review-rating {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    i {
      color: #ff9e1b;
      font-size: 1.25rem;
    }
    h4 {
      font-size: 1.25rem;
      font-weight: 900;
      color: #ff9e1b;
    }
  }

  .review-date {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;

    p {
      font-size: 1rem;
      font-weight: 700;
    }

    .tggl {
      color: #da281c;
      text-align: end;
    }
  }
}

.infinite-scroll {
  padding-block: 3rem;
  position: relative;
  display: flex;
  gap: 2rem;
  width: max-content;
  transform: translateX(100%);
  animation: infinite-scroll linear infinite;
  min-height: 356.88px;

  .review-item {
    background-color: white;
    box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.71);
  }
}

@keyframes infinite-scroll {
  to {
    transform: translateX(-110%);
  }
}

// responsive
@media screen and (max-width: 768px) {
  .section-review {
    .isiReview {
      flex-direction: column;

      form-review {
        margin: 0;

        .formReviewContainer {
          height: 400px;

          .formReview {
            .formReviewDesc {
              .body-reviews {
                textarea {
                  min-height: 5rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 540px) {
  #detailContainer {
    #umkmDetail {
      .section-review {
        width: 100%;
        border-radius: 0;

        .isiReview {
          align-items: center;
          margin-bottom: 1.5rem;
          padding: 2rem 0;

          form-review {
            margin: 0;

            .formReviewContainer {
              height: 450px;

              .titleFormReview {
                h2 {
                  font-size: 1.2rem;
                }
              }

              .formReview {
                .formReviewDesc {
                  padding: 0;

                  div {
                    padding: 0;

                    label {
                      font-size: 0.85rem;
                    }
                  }

                  .body-reviews {
                    textarea {
                      min-height: 5rem;
                    }
                  }
                }
              }
            }
          }
        }
      }

      #reviews {
        .review-item {
          padding: 1rem;
          .review-profil {
            .review-name {
              padding: 0 0;
            }
          }
        }
      }
    }
  }
}
