// color pallette
$title: black;
$yellow: #ff9e1b;
$red: #da281c;
$cream: #eeeeeeca;
$black: rgb(255, 255, 255);

.reviews {
  padding-top: 2rem;
  flex: 1;
  padding-inline: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  width: 100%;
  max-height: 530px;
  overflow: auto;
}

// styling
.section-review {
  margin-top: 1rem;
  border-radius: 8px;
  background-image: url(../public/images/background-review.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  .white-filter {
    background-color: rgba(255, 255, 255, 0.347);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .isiReview {
    align-items: start;
    display: flex;
    gap: 2rem;
    padding: 2rem;
  }
}

form-review {
  flex: 1;
  width: 100%;
  max-width: 900px;
  align-self: stretch;
  box-shadow: -2px 5px 10px rgba(0, 0, 0, 0.2);
}

.formReviewContainer {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 4px;
  height: 100%;
  background-color: rgba(245, 245, 245, 0.68);
  backdrop-filter: blur(10px);
  .formDisabler {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(245, 245, 245, 0.68);
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;

    p {
      text-align: center;
    }
  }

  .titleFormReview {
    h2 {
      color: $yellow;
      text-align: center;
      margin-bottom: 1rem;
    }
  }

  .formReview {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    flex: 1;

    .formReviewDesc {
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      align-items: start;
      gap: 1rem;
      flex: 1;

      .nama-review {
        flex-basis: 65%;
        flex-grow: 1;
      }

      .rating-review {
        flex-basis: 30%;
        flex-grow: 1;
      }

      .body-reviews {
        flex-basis: 100%;
        height: 100%;
      }

      div {
        input,
        textarea {
          width: 100%;
          padding: 0.5rem;
          border: 1px solid rgb(0, 0, 0);
          color: black;
        }

        textarea {
          min-height: 13rem;
        }
      }
    }
    .btnFormReview {
      min-height: 44px;
      background-color: $red;
      color: white;
      padding: 0.5rem 1rem;
      cursor: pointer;
      position: relative;
    }
  }
}
// end form review

// review card
.detailumkm-reviews {
  flex: 1;
  padding-inline: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  width: 100%;
  max-height: 530px;
  overflow: auto;
}
.review-item {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-color: rgba(245, 245, 245, 0.68);
  backdrop-filter: blur(10px);

  gap: 1.2rem;
  border-bottom: 1px solid $yellow;
  padding: 0.8rem 1rem;

  max-width: 300px;
  width: 100%;
  margin-inline: auto;

  display: flex;
  flex-direction: column;

  .review-profil {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      width: 33px;
      border-radius: 50%;
    }
    .review-name {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 1rem;
    }
  }

  .review-des {
    flex: 1;
    overflow: auto;
    p {
      color: rgba(0, 0, 0, 0.799);
      overflow: auto;
    }
  }

  .review-rating {
    h4 {
      color: #ff9e1b;

      i {
        color: #ff9e1b;
        margin-right: 0.25rem;
      }
    }
  }

  .review-date {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .tggl {
      color: #da281c;
    }
  }
}

.infinite-scroll {
  padding: 5rem;
  position: relative;
  display: flex;
  gap: 2rem;

  left: 100vw;
  animation: infinite-scroll 12s linear infinite;

  .review-item {
    min-width: 300px;
  }
}

@keyframes infinite-scroll {
  to {
    left: -110vw;
  }
}

// responsive
@media screen and (max-width: 768px) {
  .section-review {
    .isiReview {
      flex-direction: column;

      form-review {
        margin: 0;

        .formReviewContainer {
          height: 400px;

          .formReview {
            .formReviewDesc {
              .body-reviews {
                textarea {
                  min-height: 5rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 540px) {
  #detailContainer {
    #umkmDetail {
      .section-review {
        width: 100%;
        border-radius: 0;

        .isiReview {
          align-items: center;
          margin-bottom: 1.5rem;
          padding: 0;

          form-review {
            margin: 0;

            .formReviewContainer {
              height: 450px;

              .titleFormReview {
                h2 {
                  font-size: 1.2rem;
                }
              }

              .formReview {
                .formReviewDesc {
                  padding: 0;

                  div {
                    padding: 0;

                    label {
                      font-size: 0.85rem;
                    }
                  }

                  .body-reviews {
                    textarea {
                      min-height: 5rem;
                    }
                  }
                }
              }
            }
          }

          .detailumkm-reviews {
            padding: 0 8%;
          }
        }
      }

      #reviews {
        .review-item {
          padding: 1rem;
          .review-profil {
            .review-name {
              padding: 0 0;
            }
          }
        }
      }
    }
  }
}
