.searchContainer {
  display: flex;
  margin: 0 8% 3rem;
  gap: 1rem;
  justify-content: center;

  form {
    display: flex;
    gap: 0.5rem;
    border: 1px solid #000000;
    border-radius: 50px;
    width: 100%;
    max-width: 800px;
    padding: 1rem 2rem;

    input {
      flex: 1;
    }
  
    button { 
      cursor: pointer;
    }
  }

}
