.searchContainer {
  display: flex;
  margin: 2rem 8%;
  gap: 1rem;

  form {
    display: flex;
    gap: 0.5rem;
  }

  input, button {
    padding: 1rem;
    border: 1px solid #ff9e1b;
  }

  input {
    border-radius: 5px;
  }

  button {
    border-radius: 50px;
    cursor: pointer;
  }
}