.sliderumkm-secton {
  position: relative;
  border-radius: 20px;
}
.slider-con {
  position: relative;
  width: 100%;
  height: 30rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  border-radius: 20px;
}

.slider {
  position: absolute;
  width: 100%;
  height: 75%;
  background: transparent;

  .slides {
    top: 100%;
    transform: translateY(-30%);
    position: absolute;
    width: 120px;
    height: 150px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: -5px 10px 20px rgba(0, 0, 0, 5);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    span {
      position: absolute;
      top: 1rem;
      right: 1.25rem;
      font-size: 1.5rem;
      color: white;
      opacity: 0;
      text-shadow: 1px 1px 3px rgb(0, 0, 0);
    }

    &:nth-child(1),
    &:nth-child(2) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translateY(0);
      box-shadow: -5px 5px 10px rgba(0, 0, 0, 0);
      background-size: cover;

      .content {
        opacity: 1;
        transform: translateY(-1.5rem);
        transition-delay: 0.5s;
      }
      span {
        opacity: 1;
        transition-delay: 0.5s;
      }
    }
    @for $i from 3 through 1000 {
      &:nth-child(#{$i}) {
        left: calc(10% + (135px * ($i - 2)));
        background-size: cover;
        box-shadow: -5px 5px 10px rgb(0, 0, 0);

        @if $i > 12 {
          opacity: 0;
        }
      }
    }
  }
}

.slider-buttons {
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 20px;
  bottom: 2.5rem;
  left: 2rem;

  span {
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: -2px 5px 10px rgba(0, 0, 0, 5);
  }
}

.content {
  position: relative;
  padding: 40px;
  max-width: 600px;
  transition: 0.25s;
  transition-delay: 0s;
  transform: translateY(40px);
  z-index: 10000;
  opacity: 0;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  h2 {
    font-size: 2rem;
    color: white;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
  }
  .sub {
    position: relative;
    p {
      display: inline-block;
      padding: 0.5rem;
      color: white;
      font-size: 1rem;
      border-bottom: 1px yellow solid;
      text-shadow: 1px 1px 3px rgb(0, 0, 0);
    }
  }
  .des {
    color: white;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
  }

  .cate {
    margin-top: 0.5rem;
    display: flex;
    gap: 0.25rem;
    align-items: center;
    flex-wrap: wrap;
    p {
      display: inline-block;
      font-size: 1rem;
      color: white;
      background-color: red;
      padding: 0.5rem 1rem;
    }
  }
}

@media screen and (max-width: 1023px) {
  .slider {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 67%;

    .slides {
      top: initial;
      bottom: -120px;
      width: 90px;
      height: 90px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 25);

      &:nth-child(1),
      &:nth-child(2) {
        top: initial;
        bottom: 0px;
        .content {
          transform: translateY(1rem);
        }
      }
      &:nth-child(3) {
        left: 0px;
      }
      &:nth-child(4) {
        left: 110px;
      }
      &:nth-child(5) {
        left: 220px;
      }
      &:nth-child(6) {
        left: 330px;
      }
    }
  }

  .content {
    transform: translateY(20px);
  }

  .slider-buttons {
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 1000px) {
  #umkm-list {
    padding-block: 0 2rem;
  }
}

@media screen and (max-width: 450px) {
  .slider {
    top: 0px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 70%;

    .slides {
      top: initial;
      bottom: -120px;
      width: 90px;
      height: 90px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 25);

      &:nth-child(1),
      &:nth-child(2) {
        top: initial;
        bottom: 0px;
      }
      &:nth-child(3) {
        left: 0px;
      }
      &:nth-child(4) {
        left: 110px;
      }
      &:nth-child(5) {
        left: 220px;
      }
      &:nth-child(6) {
        left: 330px;
      }

      h2 {
        font-size: 1.2rem;
      }
      span,
      p {
        font-size: 0.8rem;
      }
    }
  }

  .slider-buttons {
    bottom: -2rem;
  }
}
